@import 'variables'

// MIXINS

//___Set section background
=background( $url )
  background: $url
  background-repeat: no-repeat
  background-position: center
  background-size: cover


// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db7574+0,e3cd7c+100 */
// background: #db7574
// background: linear-gradient(to bottom, #db7574 0%,#e3cd7c 100%)
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7574', endColorstr='#e3cd7c',GradientType=0 ) // IE6-9