@import 'variables'

// MIXINS

//___Set section background
=background( $url )
  background: $url
  background-repeat: no-repeat
  background-position: center
  background-size: cover


//___For image/overlay content 
=dimensions( $w, $h )
  max-width: $w
  max-height: $h
