@import 'variables'

/*______MIXINS______*/

//___Set section background
@mixin background( $url )
  background: $url
  background-repeat: no-repeat
  background-position: center
  background-size: cover


//___For image/overlay content 
@mixin dimensions( $maxWidth, $maxHeight )
  max-width: $maxWidth
  max-height: $maxHeight


//___Font styling
@mixin fontStyle( $family, $size, $weight: normal, $color: false )
  font-family: $family
  font-size: $size
  font-weight: $weight
  color: $color
  @if $color
    color: $color
