
.panel-heading
  border: 1px solid #e5e5e5
  padding: 15px
  margin-top: 13px

  .accordion-toggle
    &:after
      font-family: 'FontAwesome'
      content: '\f106'
      float: right
      color: $gray
      font-size: 35px

  .accordion-toggle.collapsed
    &:after
      content: '\f107'


.panel-title
  display: inline

  a
    color: $black
    font-size: 14px
    text-decoration: none


.panel-body
  color: $gray
  font-style: italic



.first
  margin-top: 0

#max140
  height: 140px
  overflow-y: scroll

.well
  padding: 15px 15px 25px 15px
  border-right: 1px solid #e5e5e5
  border-left: 1px solid #e5e5e5
  border-bottom: 1px solid #e5e5e5

// TODO: Make Panel Headings the links, not the text