/* ACCORDION MENU STYLING */

.details
  margin-bottom: 120px


/*_____Panel Heading & Title Styling_____*/
.panel-heading
  border: 1px solid #e5e5e5
  padding: 12px 15px
  margin-top: 10px

  .panel-title
    display: inline
    margin-left: 15px

    a
      color: $black
      font-size: 14px
      text-decoration: none

  .accordion-toggle
    &:after
      font-family: 'FontAwesome'
      content: '\f106'            
      float: right
      color: $gray
      font-size: 35px

  .accordion-toggle.collapsed
    &:after
      content: '\f107'

.first
  margin-top: 0   // Removes top margin from first panel


/*_____Panel Body Styling_____*/

.well
  padding: 15px 25px 25px 15px
  border-right: 1px solid #e5e5e5
  border-left: 1px solid #e5e5e5
  border-bottom: 1px solid #e5e5e5

  .panel-body
    color: $gray
    font-style: italic
    padding-right: 20px
    height: 138px
    overflow-y: scroll
    

  /*__scrollbar styling__*/
  ::-webkit-scrollbar
    width: 6px

  ::-webkit-scrollbar-track
    background-color: $light-gray
    border-radius: 10px

  ::-webkit-scrollbar-thumb
    background-color: $brand-turquoise
    border-radius: 10px




