/*__INPUT MODULE__*/

input
  border: 1px solid $gray
  height: 35px
  padding: 10px
  font-size: 14px
  width: 220px

::-webkit-input-placeholder
  color: #dfdfdf
  font-style: italic


button
  font-family: $montserrat
  position: relative
  left: -6px
  top: -1px
  background-color: $brand-turquoise
  border: none
  color: #fff
  width: 145px
  height: 35px
  font-size: 14px
  text-transform: uppercase

  &:hover
    cursor: pointer
    background: #86c9bd


