/*__INSTAGRAM MODULE__*/

.instagram-links

  border: 1px solid red
  padding: 0

  .col-md-4
    border: 1px solid black
    padding: 2px

    img
      +dimensions( 88px, 88px )
      padding-bottom: 2px
    
  a
    color: $black
    font-family: $roboto
    font-weight: light
    font-style: italic
    font-size: 14px
    text-align: left