/*__INSTAGRAM MODULE__*/

.instagram-links
  width: 260px

  img
    +dimensions( 80px, 80px )
    padding-bottom: 4px
    transition: all 0.2s

    &:hover
      filter: grayscale(1)
  
  a
    color: $black
    font-family: $roboto
    font-weight: light
    font-style: italic
    font-size: 14px
    text-align: left

    &:hover
      text-decoration: underline

    &:last-child
      display: block
      margin-top: 15px