.owl-carousel

  blockquote
    border-left: none

    p
      font-family: $roboto
      font-size: 24px
      font-weight: light
      font-style: italic

    .divider
      display: inline-block
      position: relative

    cite
      font-family: $kaushan
      font-size: 24px
      border: 1px solid black



