.owl-carousel

  .item
    max-width: 960px
    margin: 0 auto

    blockquote
      border-left: none

      p
        font-family: $roboto
        font-size: 22px
        font-weight: light
        font-style: italic

      cite
        display: block
        font-family: $kaushan
        font-size: 22px

      .quote
        max-width: 808px
        padding: 5px 0 0 40px
        float: left
      
        .divider
          display: inline-block
          




