/*__ABOUT SECTION__*/

.about-us
  margin-bottom: 110px

  img
    width: 100%
    height: 100%

.fixed-container,
.images-container,
.overlay
  +dimensions( 370px, 240px )





@media only screen and (max-width: 767px)

  .about-us
    margin-bottom: 60px 
    
    .fixed-container,
    .images-container,
    .overlay
      height: 150px

    .fixed-container
      margin: 5px auto

      .images-container
        &:hover
          top: 0
          left: 0
          
      .overlay
        opacity: 1
    