/*__ABOUT SECTION__*/

.about-us
  margin-bottom: 110px

  img
    width: 100%
    height: 100%

.fixed-container,
.images-container,
.overlay
  +dimensions( 370px, 240px )





@media only screen and (max-width: 767px)

  .about-us
    .fixed-container
      margin: 18px auto
