/*__DEVICES SECTION__*/

.devices
  @include background(url('../../img/bg/devices-bg.jpg'))
  height: 800px
  border: 1px solid white

  /*___Iphone image positioning__*/
  .devices-iphone
    position: relative
    bottom: -170px
    left: 56%




@media only screen and (max-width: 575px)

  .devices-iphone
    display: none