/*___MAP SECTION___*/

.map
  height: 195px
  +background(url('../../img/bg/map-bg.jpg'))
  text-align: center
  font-family: $montserrat

  h2
    color: $brand-red
    font-size: 24px
    font-weight: bold
    text-transform: uppercase
    margin: 12px auto 18px auto

  .divider
    margin: 0 auto