nav
  height: 100px
  margin-bottom: 115px


  .nav-logo
    font-size: 30px
    font-family: $montserrat
    font-weight: bold
    margin-top: 25px
    float: left


  .links
    overflow: auto
    float: right
    margin-top: 38px
    
    li
      float: left


  .nav-link,
  .nav-icon
    font-family: $montserrat
    color: #fff
    font-size: 14px
    display: inline-block
    padding: 0 0 10px 0
    margin-right: 50px

    &:hover
      color: $brand-yellow
  

  .nav-link
    &:hover
      border-bottom: 3px solid $brand-yellow


  .search
    margin-right: 0
