/*__PORTFOLIO SECTION__*/

.portfolio
 
  .col-lg-6,
  .col-md-6
    padding: 0
    
  .images-container,
  .overlay
    +dimensions( 480px, 390px )

  .images-container.long,
  .overlay.long
    +dimensions( 480px, 780px )
    
  img
    width: 100%
    height: 100%

  
  .images-container
    &:hover
      top: 0
      left: 0

  
.project-details
  text-align: center
  color: #fff

  img
    +dimensions( 30px, 30px )
    margin-bottom: 5px
  
  h3
    font-family: $montserrat

  em
    font-size: 14px
    font-family: $roboto
    font-weight: light
    font-style: italic

