.service-item
  padding: 50px 0

  &:nth-child(-n+3)
    border-bottom: 1px solid #e5e5e5

  .service-icon
    margin: 6px 30px 0 0 
    float: left

  .service-desc
    overflow: auto

    h2
      font-family: $montserrat
      font-size: 16px
      text-transform: uppercase
      margin-bottom: 15px