/*__TEAM SECTION__*/

.team
  margin-bottom: 110px

  .fixed-container,
  .images-container,
  .overlay
    +dimensions( 380px, 470px )


/*___Team Member Details___*/

.social-links
  max-width: 220px
  height: 55px
  margin: 0 auto  

  a
    display: block
    color: $brand-red
    background: $brand-yellow
    font-size: 28px
    width: 25%
    height: 100%
    border-right: 1px solid $brand-red
    float: left
    line-height: 55px

    &:hover
      color: #fff
      background: $brand-red

    &:last-child
      border-right: none


.team-details
  text-align: center
  margin-top: 28px
      
  h4
    font-size: 17px
    text-transform: uppercase
    font-family: $montserrat
    letter-spacing: -1px

  em
    font-size: 14px
    font-family: $roboto
    font-weight: light
    font-style: italic
    color: #b3b3b3 





@media only screen and (max-width: 767px)

  .team
    margin-bottom: 60px

    .fixed-container
      margin: 0 auto

    .images-container
      height: 100%
      &:hover
        top: 0
        left: 0
        
      .overlay
        opacity: 1
        left: 0
        top: 80%
        height: 20%

    .team-details
      margin: 10px auto 55px

