/*__TESTIMONIAL SECTION__*/

.testimonial
  height: 290px
  background: $light-gray

.item
  height: 150px
  max-width: 960px
  margin: 0 auto

  .message-icon
    border: 3px solid $brand-turquoise
    background: url('../../img/icons/speech.png') no-repeat center center
    width: 148px
    height: 148px
    float: left


  .quote
    max-width: 808px
    padding: 5px 0 0 40px
    float: left
    
    .divider
      display: inline-block
      margin-top: 15px
