/*__TESTIMONIAL SECTION__*/

.testimonial
  height: 430px
  background: $light-gray

  .item
    height: 150px

    .message-icon
      border: 3px solid $brand-turquoise
      background: url('../../img/icons/speech.png') no-repeat center center
      width: 148px
      height: 148px
      float: left

    cite
      margin: -66px 0 0 80px

    
    .divider
      margin-top: 15px

