ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif; }
  a:hover {
    text-decoration: none; }

hr {
  width: 65px;
  border: 2px solid #f38181;
  margin: 40px auto; }

nav {
  height: 100px;
  margin-bottom: 115px; }
  nav .nav-logo {
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin-top: 25px;
    float: left; }
  nav .links {
    overflow: auto;
    float: right;
    margin-top: 38px; }
    nav .links li {
      float: left; }
  nav .nav-link,
  nav .nav-icon {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 0 0 10px 0;
    margin-right: 50px; }
    nav .nav-link:hover,
    nav .nav-icon:hover {
      color: #fce38a; }
  nav .nav-link:hover {
    border-bottom: 3px solid #fce38a; }
  nav .search {
    margin-right: 0; }

header.page-header {
  height: 1000px;
  color: #fff;
  background: url("../../img/bg/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.welcome-text span {
  font-family: "Kaushan Script", cursive;
  font-size: 72px; }
.welcome-text h1 {
  margin: 33px 0 72px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 120px;
  text-transform: uppercase;
  line-height: 0.95; }
.welcome-text .divider {
  width: 65px;
  border: 2px solid white; }
.welcome-text a {
  color: #fff;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 35px;
  border: 3px solid white; }
  .welcome-text a:hover {
    background: #fff;
    color: #ccc; }

.section-links {
  margin-top: 155px; }
  .section-links li a {
    color: #f7eac5;
    border-top: 3px solid #f7eac5;
    display: inline-block;
    padding: 15px 0;
    font-size: 16px;
    float: left;
    width: 22%;
    margin-right: 4%; }
    .section-links li a:hover {
      color: #fff;
      border-top: 3px solid #fff; }
  .section-links li span {
    font-weight: bold;
    font-size: 20px; }
  .section-links li:last-child a {
    margin-right: 0; }

.section-heading {
  text-align: center;
  margin-top: 80px; }
  .section-heading span {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    margin-bottom: 15px; }
  .section-heading h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase; }


