ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif; }
  a:hover {
    text-decoration: none; }

hr {
  width: 65px;
  border: 2px solid #f38181;
  margin: 40px auto; }

p {
  font-family: Roboto, sans-serif;
  color: #999;
  font-size: 16px; }

nav {
  height: 100px;
  margin-bottom: 115px; }
  nav .nav-logo {
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin-top: 25px;
    float: left; }
  nav .links {
    overflow: auto;
    float: right;
    margin-top: 38px; }
    nav .links li {
      float: left; }
  nav .nav-link,
  nav .nav-icon {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 0 0 10px 0;
    margin-right: 50px; }
    nav .nav-link:hover,
    nav .nav-icon:hover {
      color: #fce38a; }
  nav .nav-link:hover {
    border-bottom: 3px solid #fce38a; }
  nav .search {
    margin-right: 0; }

header.page-header {
  height: 1000px;
  color: #fff;
  background: url("../../img/bg/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.welcome-text span {
  font-family: "Kaushan Script", cursive;
  font-size: 72px; }
.welcome-text h1 {
  margin: 33px 0 72px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 120px;
  text-transform: uppercase;
  line-height: 0.95; }
.welcome-text .divider {
  width: 65px;
  border: 2px solid white; }
.welcome-text a {
  color: #fff;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 35px;
  border: 3px solid white; }
  .welcome-text a:hover {
    background: #fff;
    color: #ccc; }

.section-links {
  margin-top: 155px; }
  .section-links li a {
    color: #f7eac5;
    border-top: 3px solid #f7eac5;
    display: inline-block;
    padding: 15px 0;
    font-size: 16px;
    float: left;
    width: 22%;
    margin-right: 4%; }
    .section-links li a:hover {
      color: #fff;
      border-top: 3px solid #fff; }
  .section-links li span {
    font-weight: bold;
    font-size: 20px; }
  .section-links li:last-child a {
    margin-right: 0; }

.section-heading {
  text-align: center;
  margin-top: 80px; }
  .section-heading span {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    margin-bottom: 15px; }
  .section-heading h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase; }

.section-desc {
  width: 80%;
  margin: 0 auto 88px;
  text-align: center; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.about-us {
  margin-bottom: 110px; }

.fixed-container,
.images-container,
.overlay {
  max-width: 370px;
  max-height: 240px; }

.stats {
  background-color: #95e1d3;
  color: #fff;
  font-family: Montserrat, sans-serif;
  text-align: center; }
  .stats .stat {
    height: 260px;
    padding: 0;
    border-right: 1px solid #b5eae0; }
    .stats .stat .counter {
      font-weight: bold;
      font-size: 70px;
      position: relative;
      top: -10px;
      margin-bottom: 0; }
  .stats .stat:last-child {
    border-right: none; }

.service-item {
  padding: 50px 0; }
  .service-item:nth-child(-n+3) {
    border-bottom: 1px solid #e5e5e5; }
  .service-item .service-icon {
    margin: 6px 30px 0 0;
    float: left; }
  .service-item .service-desc {
    overflow: auto; }
    .service-item .service-desc h2 {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 15px; }

.devices {
  background: url("../../img/bg/devices-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  border: 1px solid white; }
  .devices .section-heading {
    margin-top: 90px !important; }
  .devices .devices-iphone {
    position: relative;
    bottom: -170px;
    left: 56%; }

.fixed-container {
  background-color: #95e1d3;
  color: #fff; }

.images-container {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out; }
  .images-container .overlay {
    text-align: center;
    font-family: Montserrat, sans-serif;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db7574+0,e3cd7c+100 */
    background: #db7574;
    background: linear-gradient(to bottom, rgba(219, 117, 116, 0.9), rgba(227, 205, 124, 0.9));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7574', endColorstr='#e3cd7c',GradientType=0 );
    transition: all 0.2s ease-in-out; }
    .images-container .overlay h3 {
      font-size: 18px;
      font-weight: 500;
      margin-top: 10px;
      text-transform: uppercase; }
  .images-container:hover {
    top: -10px;
    left: -10px; }
    .images-container:hover .overlay {
      opacity: 1;
      cursor: pointer; }


